<header class="header">
   <a class="navbar-logo" href="https://soulcodeacademy.teachble.com">
      <img id="logo" src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:60/https://file-uploads.teachablecdn.com/cafdd5e23ede4e52b0b3c293024bcbf1/a1de44835f9c41309464ba4c42d99284" alt="SoulCode Academy" srcset="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:120/https://file-uploads.teachablecdn.com/cafdd5e23ede4e52b0b3c293024bcbf1/a1de44835f9c41309464ba4c42d99284">
   </a>
</header>

<div class="container">
   <form class="form mat-elevation-z8">

      <h3>Student Success</h3>

      <img src="assets/img/SoulCode.png" alt="Área de Login">

      <mat-form-field class="full-width" appearance="outline">
         <mat-label>E-mail</mat-label>
         <input
         [formControl]="email"
         required
         [(ngModel)]="creds.email"
         name="email"
         matInput
         placeholder="pessoa@soulcode.com">
         <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
         <mat-label>Senha</mat-label>
         <input
         [formControl]="senha"
         required
         [(ngModel)]="creds.senha"
         name="senha"
         type="password"
         matInput>
         <mat-icon matSuffix>password</mat-icon>
      </mat-form-field>

      <button (click)="logar()" [disabled]="!validaCampos()" class="full-width mat-elevation-z4">Conecte-se</button>
   </form>
</div>
<footer class="footer">© SoulCode Academy 2022</footer>